Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/bic
src/cfilelex.c
src/cfilelex.o
src/cfilelex.h
src/cfilelex.l
src/repllex.c
src/repllex.o
src/repllex.h
src/repllex.l
src/libbic.a
src/main.o
src/cfileparser.c
src/cfileparser.h
src/cfileparser.o
src/replparser.c
src/replparser.h
src/replparser.o
src/tree.o
stamp-h1
ylwrap
*.tar.gz
*~
*.log
*.sum
testsuite/prompt.exp
testsuite/site.exp
*.o
*#
libtool
ltmain.sh
test-driver
*.deps