Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/bic
src/lex.c
src/lex.o
src/lex.h
src/libbic.a
src/main.o
src/parser.c
src/parser.h
src/parser.o
src/tree.o
stamp-h1
ylwrap
*.tar.gz
*~

