puts
strcat
pass_parameter_printf
decl_with_assign
fn_param_name_val_name_same
postfix_increment
prefix_increment
postfix_decrement
prefix_decrement
simple_typedef
simple_struct
struct_typedef
add
sub
mul
div
simple_pointer
set_pointer_through_function
printf_double_explicit
printf_double_live_var
lt
gt
lteq
gteq
fibonacci
sizeof
gethostname
linked-list
struct_torture
array_torture
union
basic_enum
forward_declare
double_pointer
typedef_decl_mul_ambiguity

*.trs